@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="center">
        <h1>Automated is better!!!</h1>
    </div>
    <div class="center">
        <img src="\Media\images\image2.jpg" width="1000" height="400">
    </div>
</div>


<div class="row">
        <div class="right">
            <img src="\Media\images\image3.jpg" width="1000" height="200">
        </div>
    </div>




 